<!DOCTYPE html>
<html lang="{% block lang %}nl{% endblock %}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block head %}
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-select.css"/>
        <link rel="stylesheet" href="/libs/select2/css/select2.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/startpin.css?v={{ assetVersion('css/startpin.css') }}"/>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    {{ csrf_header() }}
</head>
<body class="fixed-sn light-blue-skin">
<div class="container">
    {% block navBar %}{% endblock %}
    {% if content is defined %}
        {{ content|raw }}
    {% endif %}
    {% block content %}{% endblock %}
</div>
<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/libs/select2/js/select2.js"></script>
<script src="/libs/js/currency.js"></script>
<script src="/libs/js/js.cookie.js"></script>
<script src="/libs/printJS/print.min.js"></script>
<script src="/js/startpin.js?v={{ assetVersion('js/startpin.js') }}"></script>
</body>
</html>
